body {
  font-size: 20pt;
  color: blue;
}
h1 {
  text-align: center;
}
#cor {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0, 0, 600, 0.6);
  background-color: rgba(0, 0, 600, 0.3);
  color: rgba(0, 0, 200, 0.6);
  box-shadow: 3px 3px 8px rgba(0, 0, 600, 0.4);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  cursor: pointer;
  padding: 10% 0 1%;
  padding-top: 8%;
  width: 25%;
}
.red {
  color: red;
}
#red {
  width: 20%;
  margin-bottom: 50px;
  cursor: pointer;
  
}
#textRed {
  width: 4%;
  margin-bottom: 50px;
  color: red;
  font-weight: bold;
}
.green {
  color: green;
}
#green {
  width: 20%;
  margin-bottom: 50px;
  color: green;
  cursor: pointer;
}
#textGreen {
  width: 4%;
  margin-bottom: 50px;
  color: green;
  font-weight: bold;
}
.blue {
  color: blue;
}
#blue {
  width: 20%;
  margin-bottom: 50px;
  cursor: pointer;
}
#textBlue {
  width: 4%;
  margin-bottom: 50px;
  color: blue;
  font-weight: bold;
}
